<div class="content">
  <div class="list" *ngIf="todoItems && todoItems.length">
    <h1>To-do</h1>
    <ng-container *ngFor="let item of todoItems">
      <card [item]="item"></card>
    </ng-container>
  </div>
  <div class="list" *ngIf="inProgressItems.length">
    <h1>In progress</h1>
    <ng-container *ngFor="let item of inProgressItems">
      <card [item]="item"></card>
    </ng-container>
  </div>
  <div class="list" *ngIf="doneItems.length">
    <h1>Done</h1>
    <ng-container *ngFor="let item of doneItems">
      <card [item]="item"></card>
    </ng-container>
  </div>
</div>
